<div class="nav-status">
    <span class="icon nav-status-icon ic-home"></span>
    <h2 class="nav-status-title">Dashboard</h2>
    <div class="breadcrumb">
        <a>Home</a>
        <span class="icon ic-arrow-right"></span>
        <a>@Model.CurrentProject</a>
    </div>

    <div class="nav-buttons">
        <!--<div class="btn btn-default">Create new</div>-->
    </div>
</div>

<div class="dashboard-component" id="dashboard-projects-component">
    <div class="dashboard-component-header">
        <span class="icon ic-project dashboard-component-header-icon"></span>
        <h3>Projects</h3>
        <div class="dashboard-component-header-buttons">
            <div class="btn btn-icon">
                <span class="icon ic-add"></span>
            </div>            
            <div class="btn btn-icon">
                <span class="icon ic-full-size"></span>
            </div>
        </div>
    </div>
    <div class="dashboard-component-container"></div>
</div>